.header-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-image: url("./assets/wood-background.jpg");
   height: 150px;
}

.header-container h3 {
   font-size: 50px;
   font-weight: bolder;
   font-family: fantasy;
   letter-spacing: 5px;
   color: rgb(146, 142, 142);
}

.army-box {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   width: 500px;
   height: 500px;
   background-image: url('./assets/tent.png');
   background-position: center;
   background-repeat: no-repeat;
}

.army-container {
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
   background-color: gray;
   height: 84.26vh;
   background-image: url("./assets/grasshill.jpg");
   background-position: bottom;
}

.select-unit-container {
   float: left;
   height: 80vh;
   width: 300px;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 30px;
   color: white;
   padding: 20px;
   background-image: url("./assets/rock.jpg");
}

.unit-img {
   width: 175px;
   height: 175px;
}