@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');


.App {
   display: flex;
   flex-direction: column;
   position: relative;
}

.body-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.header-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-image: url("./assets/wood-background.jpg");
   height: 150px;
}

.header-container h3 {
   font-size: 70px;
   font-weight: bolder;
   font-family: fantasy;
   letter-spacing: 5px;
   color: black;
}

.army-box {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   margin: 10px;
   min-width: 300px;
   min-height: 300px;
   background-image: url('./assets/tent.png');
   background-position:  center;
   background-repeat: no-repeat;
   background-origin: content-box;
   color: white;
   font-size: 30px;
   padding-top: 70px;
   padding-right: 20px;
   font-family: 'Calligraffitti', cursive;
   font-weight: bold;
}

.navy-box {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   margin: 10px;
   min-width: 300px;
   min-height: 300px;
   color: white;
   font-size: 30px;
   padding-top: 70px;
   padding-right: 20px;
   font-family: 'Calligraffitti', cursive;
   font-weight: bold;
}

.army-container {
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
   background-color: gray;
   height: 100vh;
   width: 100%;
   background-image: url("./assets/grasshill.jpg");
   background-position: bottom;
}

.navy-container {
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
   background-color: gray;
   height: 100vh;
   width: 100%;
   background-image: url("./assets/217154.jpg");
   background-position: bottom;
}

.select-unit-container {
   height: 150px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 30px;
   color: white;
   background-image: url("./assets/rock.jpg");
   background-position: center;
   border-bottom:5px solid black;
   border-top:5px solid black;
   font-family: 'Calligraffitti', cursive;
   font-weight: bold;
   
}

.ship-pick-container {
   height: 150px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 30px;
   color: white;
   background-image: url("./assets/wood-background.jpg");
   background-position: center;
   border-bottom:5px solid black;
   border-top:5px solid black;
   font-family: 'Calligraffitti', cursive;
   font-weight: bold;
}

.unit-img {
   width: 175px;
   height: 175px;
}

#total-output {
   display: flex;
   align-self: flex-end;
   float: left;
   position: absolute;
   margin-top: 40px;
   right: 20px;
   
}

.pick-unit-box {
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 20px;
}

.unit-selector {
   width: 200px;
   height: 30px;
   margin: 30px;
}

.quantity-input {
   height: 25px;
   width: 200px;
   font-size: 20px;
}

.select-button {
   width: 100px;
}

.gold-coins {
   display: flex;
   align-self: flex-end;
   position: absolute;
   margin-top: 60px;
   right: 157px;
}

.roll-out-button {
   position: absolute;
   bottom: 20px;
   right: 40px;
}

.button-bar {
   display: flex;
   width: 200px;
   justify-content: space-between;
}


.roll-out {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   margin: 10px;
   min-width: 300px;
   min-height: 300px;
   background-image: url('./assets/tent.png');
   background-position: center;
   background-repeat: no-repeat;
   background-origin: content-box;
   color: white;
   font-size: 30px;
   padding-top: 70px;
   padding-right: 20px;
   animation: spin 3s infinite;
   animation-timing-function: linear;
   transition:  2s;
   box-shadow: 100px 100px 100px tan, -100px -100px 100px tan;
   border-radius: 50%;  
   font-family: 'Calligraffitti', cursive;
   font-weight: bold;
}



@keyframes spin {
   from {
     transform: rotate(0deg);
   }
   to {
     transform: rotate(360deg);
   }
 }